/*==============================
LOCAL FONT HOSTING
==============================*/
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/outfit-v15-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/outfit-v15-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/outfit-v15-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/outfit-v15-latin-800.woff2") format("woff2");
}

/*==============================
JOSH'S CUSTOM CSS RESET
https://www.joshwcomeau.com/css/custom-css-reset/
==============================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*==============================
VARIABLES
==============================*/
:root {
  --font-stack: "Outfit", sans-serif;
  --color-neutral-900: #262833;
  --color-neutral-800: #363843;
  --color-neutral-700: #4e505c;
  --color-white: #ffffff;
  --color-green-100: #e3ece6;
  --color-green-500: #73b06f;
  --color-orange-100: #f5ddc8;
  --color-orange-500: #e9ae79;
  --color-purple-100: #e4d6f3;
  --color-purple-500: #a686c4;
  --text-16: 1rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-20: 1.25rem;
  --space-24: 1.5rem;
  --weight-400: 400;
  --weight-500: 500;
  --weight-700: 700;
  --weight-800: 800;
  --radius-full: 9999px;
  --avatar-size: 32px;
  --border: 1px solid var(--color-neutral-800);
}

/*==============================
GLOBAL STYLES
==============================*/
html {
  font-family: var(--font-stack);
  background: var(--color-neutral-900);
  color: var(--color-white);
}

/* UTILITY CLASSES */
.regular {
  font-weight: var(--weight-400);
}
.medium {
  font-weight: var(--weight-500);
}
.bold {
  font-weight: var(--weight-700);
}
.extra-bold {
  font-weight: var(--weight-800);
}
.size-16 {
  font-size: var(--text-16);
}
.size-20 {
  font-size: var(--text-20);
}
.size-24 {
  font-size: var(--text-24);
}
.container {
  padding: var(--space-24);
}

/*==============================
LAYOUT
==============================*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LAYOUT STYLING? */
header {
  border-bottom: var(--border);
}

/*==============================
USER PROFILE COMPONENT
==============================*/
.user-profile {
  display: flex;
  align-items: center;
  gap: var(--space-12);
}
.user-profile__image {
  border-radius: var(--radius-full);
  width: var(--avatar-size);
  height: var(--avatar-size);
}
