<!-- regular bank card -->
<div class="bank-card">
  <div class="bank-card__top">
    <div>
      <p>Shopping Card</p>
      <img src="./assets/icons/card.svg" alt="" />
    </div>
    <div>
      <p>NAME</p>
      <p>Exp 26/6</p>
    </div>
  </div>
  <div class="bank-card__bottom">
    <p>**** **** 0928</p>
    <img src="./assets/icons/visa-logo.svg" alt="" />
  </div>
</div>

<!-- green bank card -->
<div class="bank-card">
  <div class="bank-card__top bank-card__top--green">
    <div>
      <p>Shopping Card</p>
      <img src="./assets/icons/card.svg" alt="" />
    </div>
    <div>
      <p>NAME</p>
      <p>Exp 26/6</p>
    </div>
  </div>
  <div class="bank-card__bottom bank-card__bottom--green">
    <p>**** **** 0928</p>
    <img src="./assets/icons/visa-logo.svg" alt="" />
  </div>
</div>

<!-- purple bank card -->
<div class="bank-card">
  <div class="bank-card__top bank-card__top--purple">
    <div>
      <p>Shopping Card</p>
      <img src="./assets/icons/card.svg" alt="" />
    </div>
    <div>
      <p>NAME</p>
      <p>Exp 26/6</p>
    </div>
  </div>
  <div class="bank-card__bottom bank-card__bottom--purple">
    <p>**** **** 0928</p>
    <img src="./assets/icons/visa-logo.svg" alt="" />
  </div>
</div>

<!-- orange bank card -->
<div class="bank-card">
  <div class="bank-card__top bank-card__top--orange">
    <div>
      <p>Shopping Card</p>
      <img src="./assets/icons/card.svg" alt="" />
    </div>
    <div>
      <p>NAME</p>
      <p>Exp 26/6</p>
    </div>
  </div>
  <div class="bank-card__bottom bank-card__bottom--orange">
    <p>**** **** 0928</p>
    <img src="./assets/icons/visa-logo.svg" alt="" />
  </div>
</div>
