<!-- nav group with no label -->
<div class="nav-group">
  <!-- nav link component -->
  <a href="#" class="nav-link nav-link--active" aria-label="Dashboard">
    <img src="./assets/icons/house.svg" alt="" class="nav-link__icon" />
    <span class="nav-link__label medium">Dashboard</span>
  </a>
</div>

<!-- nav group with label -->
<div class="nav-group">
  <p class="nav-group__label">Analytics</p>
  <a href="#" class="nav-link" aria-label="Dashboard">
    <img src="./assets/icons/house.svg" alt="" class="nav-link__icon" />
    <span class="nav-link__label medium">Dashboard</span>
  </a>
</div>
