<!-- regular stat -->
<div class="stat">
  <div class="stat__icon-wrapper">
    <img src="./assets/icons/coin.svg" alt="" />
  </div>
  <div>
    <p class="stat__label">Spendings</p>
    <p class="stat__value">R4 009</p>
  </div>
</div>

<!-- purple stat -->
<div class="stat">
  <div class="stat__icon-wrapper stat__icon-wrapper--purple">
    <img src="./assets/icons/coin.svg" alt="" />
  </div>
  <div>
    <p class="stat__label">Spendings</p>
    <p class="stat__value">R4 009</p>
  </div>
</div>

<!-- green stat -->
<div class="stat">
  <div class="stat__icon-wrapper stat__icon-wrapper--green">
    <img src="./assets/icons/coin.svg" alt="" />
  </div>
  <div>
    <p class="stat__label">Spendings</p>
    <p class="stat__value">R4 009</p>
  </div>
</div>

<!-- orange stat -->
<div class="stat">
  <div class="stat__icon-wrapper stat__icon-wrapper--orange">
    <img src="./assets/icons/coin.svg" alt="" />
  </div>
  <div>
    <p class="stat__label">Spendings</p>
    <p class="stat__value">R4 009</p>
  </div>
</div>
